.main_div{
  margin: 10vw;
  width: 50%;
  padding: 5vw;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
}
.filter_div{
  display: flex;
  flex-direction: row;
  gap: 15vw;
  padding-top: 2vw;
}